.custom-navbar {
    background-color: #fdefda;
}

.DateInput_input, .DateInput_input_1 {
color: inherit !important;
font-size: inherit ! important;
Height: 35px !important;
Width: 100% !important;
}

.dropdown-header-bold {
    font-weight: bold;
    font-size: 16px;
}