.custom-navbar {
    background-color: #fdefda;  /* Change this color to your preferred background color */
}

.DateInput_input, .DateInput_input_1 {
color: inherit !important;
font-size: inherit ! important;
Height: 35px !important;
Width: 100% !important;
}