/* assets/custom.css */
body {
    /* For Chrome, Edge, Safari */
    zoom: 0.80;

    /* For Firefox (which doesn't support zoom) */
    -moz-transform: scale(0.8);
    -moz-transform-origin: top center;
    width: 125%; /* Compensate for the shrink (100/0.8 = 125) */
}